﻿.tabmail-tab[TabType="cardbookTabType"] .tab-icon-image {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}

.alltabs-item[TabType="cardbookTabType"] .menu-iconic-icon {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}


#cardbookToolbarButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_24_24.png");
}

toolbar[iconsize="small"] #cardbookToolbarButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}




#cardbookToolbarAddServerButton {
	list-style-image: url("chrome://cardbook/skin/add_server_24_24.png");
}

toolbar[iconsize="small"] #cardbookToolbarAddServerButton {
	list-style-image: url("chrome://cardbook/skin/add_server_16_16.png");
}

#cardbookToolbarSyncButton {
	list-style-image: url("chrome://cardbook/skin/sync_24_24.png");
}

toolbar[iconsize="small"] #cardbookToolbarSyncButton {
	list-style-image: url("chrome://cardbook/skin/sync_16_16.png");
}

#cardbookToolbarCreateFileButton {
	list-style-image: url("chrome://cardbook/skin/create_file_24_24.png");
}

toolbar[iconsize="small"] #cardbookToolbarCreateFileButton {
	list-style-image: url("chrome://cardbook/skin/create_file_16_16.png");
}

#cardbookToolbarOpenFileButton {
	list-style-image: url("chrome://cardbook/skin/open_file_24_24.png");
}

toolbar[iconsize="small"] #cardbookToolbarOpenFileButton {
	list-style-image: url("chrome://cardbook/skin/open_file_16_16.png");
}

#cardbookToolbarCreateUserButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_24_24.png");
}

toolbar[iconsize="small"] #cardbookToolbarCreateUserButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}

.cardbookTreeChildrenClass treechildren::-moz-tree-row(selected) {
	background-color: #CCE0FF;
}
.cardbookTreeChildrenClass treechildren {
	-moz-appearance: none !important;
	background-color: #E6F0FF ;
}

.cardbookButtonClass {
	min-width: 20px !important;
}

.cardbookBackgroundColorClass tabbox {
	-moz-appearance: none !important;
	background-color: #CCE0FF;
}
.cardbookBackgroundColorClass tabpanels {
	-moz-appearance: none !important;
	background-color: #CCE0FF;
}
.cardbookBackgroundColorClass tabpanel {
	-moz-appearance: none !important;
	background-color: #CCE0FF;
}
.cardbookBackgroundColorClass menulist {
	-moz-appearance: none !important;
	background-color: #E6F0FF;
	border: 1px;
}
.cardbookBackgroundColorClass menupopup {
	-moz-appearance: none !important;
	background-color: #CCE0FF;
}
.cardbookBackgroundColorClass grid {
	-moz-appearance: none !important;
	background-color: #CCE0FF;
}
.cardbookBackgroundColorClass caption {
	-moz-appearance: none !important;
	background-color: #CCE0FF;
}
.cardbookBackgroundColorClass textbox {
	-moz-appearance: none !important;
	background-color: #E6F0FF;
	border: 1px;
}
