﻿.tabmail-tab[TabType="cardbookTabType"] .tab-icon-image {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}

.alltabs-item[TabType="cardbookTabType"] .menu-iconic-icon {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}


#cardbookToolbarButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_24_24.png");
}

toolbar[iconsize="small"] #cardbookToolbarButton {
	list-style-image: url("chrome://cardbook/skin/cardbook_16_16.png");
}
